@model projNational23.viewappl_Result

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div>
   <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Last_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Of_Birth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Of_Birth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aadhar_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aadhar_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Scheme_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Scheme_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Economic_Backward_Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Economic_Backward_Class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Economic_Backward_Class_Cert)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Economic_Backward_Class_Cert)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Father_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Father_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mother_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mother_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Annual_Income)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Annual_Income)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Income_Certificate_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Income_Certificate_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Religion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Religion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Caste)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caste)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Present_Course)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Present_Course)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course_Period)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course_Period)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mode_Of_Study)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mode_Of_Study)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course_Start_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course_Start_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Institution_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Institution_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Degree_Percentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Degree_Percentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roll_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roll_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marks_Percentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marks_Percentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sscRoll_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sscRoll_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sscMarks_Percentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sscMarks_Percentage)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Date_of_apply)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_of_apply)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Smart_Card_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Smart_Card_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acc_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acc_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IFSC_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IFSC_CODE)
        </dd>
        @section files
            {
            string
            <dt>
                @Html.DisplayNameFor(model => model.Photo)
            </dt>

            <dd>
                <img src="@Url.Content(Model.Photo)" height="150" width="150" />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Aadhar_Card)
            </dt>

            <dd>
                <img src="@Url.Content(Model.Aadhar_Card)" height="150" width="150" />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Community_Certificate)
            </dt>

            <dd>
                <img src="@Url.Content(Model.Community_Certificate)" height="150" width="150" />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Degree_Marksheet)
            </dt>

            <dd>
                <img src="@Url.Content(Model.Degree_Marksheet)" height="150" width="150" />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HSC_Marksheet)
            </dt>

            <dd>
                <img src="@Url.Content(Model.HSC_Marksheet)" height="150" width="150" />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SSC_MarkSheet)
            </dt>

            <dd>
                <img src="@Url.Content(Model.SSC_MarkSheet)" height="150" width="150" />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Income_Certificate)
            </dt>

            <dd>
                <img src="@Url.Content(Model.Income_Certificate)" height="150" width="150" />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nativity_Certificate)
            </dt>

            <dd>
                <img src="@Url.Content(Model.Nativity_Certificate)" height="150" width="150" />
            </dd>
        }
    </dl>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

