@model projNational23.Academic_Details
@{
    Layout = "~/Views/Shared/_Studlayout.cshtml";
}
<div>
    <h4>Academic_Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Register_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Register_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Present_Course)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Present_Course)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course_Period)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course_Period)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mode_Of_Study)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mode_Of_Study)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course_Start_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course_Start_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Institution_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Institution_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.University_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.University_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Previous_Course)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Previous_Course)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Degree_Percentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Degree_Percentage)
        </dd>

    </dl>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
