@model projNational23.Files3
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Studlayout.cshtml";
}
@using (Html.BeginForm("_Files3", "Files3", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Applicant_Id, "Applicant_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Applicant_Id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Applicant_Id, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Photo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Photo, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })*@
                <input type="file" name="ImagePhoto" required />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Aadhar_Card, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Aadhar_Card, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Aadhar_Card, "", new { @class = "text-danger" })*@
                <input type="file" name="ImageAadhar" required />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SSC_MarkSheet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.SSC_MarkSheet, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SSC_MarkSheet, "", new { @class = "text-danger" })*@
                <input type="file" name="ImageSSC" required />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HSC_Marksheet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.HSC_Marksheet, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.HSC_Marksheet, "", new { @class = "text-danger" })*@
                <input type="file" name="ImageHSC" required />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Degree_Marksheet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Degree_Marksheet, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Degree_Marksheet, "", new { @class = "text-danger" })*@
                <input type="file" name="ImageDegree" required />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Community_Certificate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Community_Certificate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Community_Certificate, "", new { @class = "text-danger" })*@
                <input type="file" name="ImageCommunity" required />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nativity_Certificate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Nativity_Certificate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Nativity_Certificate, "", new { @class = "text-danger" })*@
                <input type="file" name="ImageNativity" required />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Income_Certificate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Income_Certificate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Income_Certificate, "", new { @class = "text-danger" })*@
                <input type="file" name="ImageIncome" required />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save and Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
