@model projNational23.RegScheme_details
@{
    Layout = "~/Views/Shared/_Studlayout.cshtml";
}
<div>
  
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
                @Html.DisplayNameFor(model => model.Date_of_apply)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date_of_apply)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Smart_Card_Id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Smart_Card_Id)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.App_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.App_status)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.Acc_No)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Acc_No)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Bank_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Bank_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IFSC_CODE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IFSC_CODE)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Payment_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payment_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Funded_amt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funded_amt)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.Fund_transfer_date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fund_transfer_date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Admin_Details.Login_Id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Admin_Details.Login_Id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Applicant_Details.Login_Id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Applicant_Details.Login_Id)
            </dd>*@

    </dl>
</div>

